/* html,
body {
    height: 100%;
} */

html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}


* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 8px;
    color: orange;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculator-body {
    border: thin solid blue;
    background-color: rgba(0, 0, 255, 0.084);
    display: flex;
    gap: 20px;
    flex-direction: column;
    height: 550px;
    width: 420px;
    padding: 25px;
}

.display-screen {
    border: thin solid orange;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    text-align: end;
    padding: 10px;
}

p {
    margin: 0;
}

#total {
    font-size: 45px;
}

.op-btn,
#clear-btn,
#delete-btn {
    background-color: rgba(255, 166, 0, 0.315);
}

#clear-btn,
#delete-btn {
    flex-grow: 1;
    font-size: large;
    border: thin solid orange;
    
}

.clear-delete-btns {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-grow: 1;
}

.operator-btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 12px;
    flex-grow: 1;

}

.op-btn {
    height: 70px;
    width: 90px;
    padding: 0;
    font-size: large;
    border: thin solid orange;
}